*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: .8em;
}

body{
    display: flex;
    flex-direction: column;
    width: 98.77vw;
    height: 700vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
    align-items: center;
    position: fixed;
}

.logoSenai{
    width: 90px;
    height: 25px;
    margin-left: 50px;
    user-select: none;
}

.links{
    margin-left: 40px;
}

.links a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    transition: .4s;
    user-select: none;
}

.links a:hover{
    color: tomato;
}

.botao{
    display: flex;
    width: 150px;
    height: 30px;
    border: solid 1px white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 600px;
}

.botao a{
    text-decoration: none;
    color: white;
}

main{
    height: 190vh;
    background-color: whitesmoke;

}

.primeiraDiv{
    display: flex;
    background-color: #00000088;
    background-blend-mode: darken;
    background-image: url(img/desenvolvimento.jpg);
    background-size: cover;
    height: 670px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 80px;
    max-width: 700px;
    user-select: none;
}

.primeiraDiv p{
    margin-top: 30px;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin-top: 20px;
    font-weight: 100;
    user-select: none;
}

h3{
    font-size: 40px;
    max-width: 700px;
    margin-top: 70px;
    font-weight: 500;
    padding-left: 20px;
}

p{
    font-size: 20px;
}

img{
    user-select: none;
}

.fpoo{
    background-color:whitesmoke;
}

.fpoo h4{
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
}

.h4Fpoo1{
    margin-top: 60px;
    margin-left: 200px;
}

.h4Fpoo2{
    margin-top: -435px;
    margin-left: 770px;
    margin-bottom: 35px;
}

.textoFpoo1{
    max-width: 450px;
    margin-top: 40px;
    margin-left: 220px;
    padding-right: 100px;
    border-right: solid 3px black;
}

.textoFpoo2{
    max-width: 400px;
    margin-top: 18px;
    margin-left: 770px;
    padding-left: 20px;
    margin-bottom: 70px;
}

.imgFpoo{
    margin-top: 30px;
}

.java1{
    width: 21%;
    margin-bottom: 40px;
    margin-left: 220px;
    
}

.java2{
    width: 28%;
    margin-bottom: 40px;
    margin-left: 280px;
}

.lima{
    margin-top: -20px;
    background-color: rgb(202, 207, 205);
}

.lima h2{
    position: relative;
    top: 25px;
}

.lima h4{
    margin-top: 70px;
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
}

.textoLima1{
    max-width: 800px;
    padding-right: 100px;
    border-right: solid 3px black;
}

.textoLima1, .textoSop1{
    margin-top: 30px;
    padding-left: 20px;
}

.textoLima2{
    max-width: 800px;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-right: 100px;
    border-right: solid 3px black;
}

.lima1{
    width: 28%;
    margin-left: 900px;
    margin-top: -240px;
}

.lima2{
    width: 30%;
    margin-left: 890px;
    margin-top: -240px;
    margin-bottom: 30px;
}

.sop{
    margin-top: -20px;
    background-color: whitesmoke;
}

.sop h2{
    position: relative;
    top: 20px;
}

.textoSop1{
    max-width: 1300px;
}

.hare{
    margin-top: -20px;
    background-color: rgb(202, 207, 205);
}

.hare h2{
    position: relative;
    top: 20px;
}

.hare h4{
    font-size: 25px;
    font-weight: 600;
    padding-left: 20px;
    max-width: 100px;
}

.hareBloco1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 1300px;
    border-top: solid 3px black;
    margin-left: 30px;
    padding-top: 20px;
    margin-top: 60px;
    border-bottom: solid 3px black;
    padding-bottom: 20px;
}

.hareBloco2, .hareBloco3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1300px;
    margin-left: 30px;
    margin-top: 20px;
    border-bottom: solid 3px black;
    padding-bottom: 20px;
}

.hare p{
    max-width: 800px;
}

.hare1{
    width: 15%;
}

.hare2{
    width: 17%;
}

.hare3{
    width: 17%;
}

footer{
    display: flex;
    position: relative;
    bottom: -4000px;
    background-color: black;
    height: 70px;
    justify-content: center;
    align-items: center;
    color: white;
}